[submodule "mkdocs-material"]
	path = mkdocs-material
	url = https://github.com/m17y/mkdocs-material.git

# 
# 添加子模块 git submodule add https://github.com/m17y/mkdocs-material.git
# 下载子模块
#	git submodule init
#	git submodule update